{% extends 'controller/module/base_module.tpl' %} {% block body_content %}
    <div class="panel-body center-block">
        <div class="table-responsive center-block">
            <table class="table table-striped">
                <tbody>
                {% set maxPoint = (usersPoints|first).getPoint %}
                {% for userPoint in usersPoints %}
                    <tr>
                        <td class="text-center user-activity user-{{ userPoint.getUser.getName }}">
                            <span class="glyphicon glyphicon-eye-open"
                                  aria-hidden="true" title="Online"
                                  style="color: transparent; font-size: 1.1em;">
                            </span>
                        </td>
                        <td>
                            <strong>{{ userPoint.getUser.getName }}</strong>
                        </td>
                        <td>
                            <strong class="color-one">{{ userPoint.getPoint }}</strong>
                        </td>
                        <td>
                            {% if maxPoint - userPoint.getPoint %}
                                <span class="small color-two">+{{ maxPoint - userPoint.getPoint }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% if usersPoints is empty %}
                    <tr>
                        <td colspan="3" class="text-center">
                            <strong class="color-one">{{ language.get(id ~ '_no_results') }}</strong>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
