<div class="panel panel-default">
    <div class="panel-heading text-center">
        <strong>{{ language.get('nav_admin_cache') }}</strong>
    </div>
    {% if error %}
        <div class="alert alert-danger">
            <strong>{{ error }}</strong>
        </div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success">
            <strong>{{ success }}</strong>
        </div>
    {% endif %}

    {% if not error %}
    <div style="text-align: center; padding: 15px;">
        <a href="?page=admin/clear_cache/clear&dir=doctrine" class="btn btn-new" role="button">
            {{ language.get('admin_cache_doctrine') }}
        </a>
        <a href="?page=admin/clear_cache/clear&dir=twig" class="btn btn-new" role="button">
            {{ language.get('admin_cache_twig') }}
        </a>
        <a href="?page=admin/clear_cache/clear&dir=app" class="btn btn-new" role="button">
            {{ language.get('admin_cache_app') }}
        </a>
        <a href="?page=admin/clear_cache/clear" class="btn btn-new" role="button">
            {{ language.get('admin_cache_all') }}
        </a>
    </div>
    {% endif %}
</div>