<div class="panel panel-default">
    <div class="panel-heading text-center">
        <strong>{{ language.get('admin_driver_editor') }}</strong>
    </div>
    {% if error %}
        <div class="alert alert-danger">
            <strong>{{ error }}</strong>
        </div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success">
            <strong>{{ success }}</strong>
        </div>
    {% endif %}

    {% if not error %}
        {% if drivers %}
            <div class="pull-left" style="padding: 15px">
                <a href="?page=admin/driver_editor/syncPoints" style="text-decoration: none">
                    <button id="event-bet-submit-{{ event.getId() }}"
                            class="btn btn-new center-block submit">
                        {{ language.get('admin_driver_editor_sync') }}
                    </button>
                </a>
            </div>
            <div class="pull-right" style="padding: 15px">
                <strong>{{ language.get('admin_driver_editor_enabeld_driver') }} {{ enabledDrivers }}</strong>
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" style="padding: 30px;" method="post"
                  action="?page=admin/driver_editor/update">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="text-center">{{ language.get('admin_driver_editor_driver_name') }}</th>
                            <th class="text-center">{{ language.get('admin_driver_editor_driver_short') }}</th>
                            <th class="text-center">{{ language.get('admin_driver_editor_driver_point') }}</th>
                            <th class="text-center">{{ language.get('admin_driver_editor_driver_status') }}</th>
                        </tr>
                        </thead>
                        {% for driver in drivers %}
                            <tr>
                                <td><input class="form-input" name="driver[{{ loop.index }}][id]" type="hidden"
                                           value="{{ driver.getId() }}">
                                    <input class="form-input" name="driver[{{ loop.index }}][name]" type="text"
                                           value="{{ driver.getName() }}">
                                </td>
                                <td class="text-center">
                                    <input class="form-input" name="driver[{{ loop.index }}][short]" type="text"
                                           value="{{ driver.getShort() }}">
                                </td>
                                <td class="text-center">
                                    <input class="form-input" name="driver[{{ loop.index }}][point]" type="text"
                                           value="{{ driver.getPoint() }}">
                                </td>
                                <td class="text-center">
                                    <input class="form-input" name="driver[{{ loop.index }}][status]" type="checkbox"
                                            {{ driver.getStatus() ? 'checked="checked"' : '' }} value="1">
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="center-block">
                    <button id="event-bet-submit-{{ event.getId() }}"
                            class="btn btn-new center-block submit">
                        {{ language.get('admin_information_editor_save') }}
                    </button>
                </div>
            </form>
            <div class="center-block" style="padding: 15px;">
                <a href="?page=admin/driver_editor/insert" style="text-decoration: none">
                    <button id="event-bet-submit-{{ event.getId() }}"
                            class="btn btn-new center-block submit">
                        {{ language.get('admin_information_editor_new') }}
                    </button>
                </a>
            </div>
        {% endif %}
    {% endif %}
</div>