{% extends 'controller/module/base_module.html.twig' %}
{% block body_content %}
    <div class="panel-body center-block">
        <div class="center-block">
            <table class="table table-striped">
                <tbody>
                {% for user in users %}
                    {% set podiumTrophies = user.getPodiumTrophies() %}
                    <tr>
                        <td class="text-right">
                            <strong class="color-one">{{ loop.index }}.</strong>
                        </td>
                        <td>
                            <div class="user-container">
                                <strong>{{ user.getName() }}</strong>
                                <div class="user-activity user-{{ user.getName() }} online-dot" title="online"></div>
                                <div class="has-checkered-flag" title="{{ (id ~ '_checkered_flag')|trans }}">
                                    {% if user.alternativePointDifference() > maths.remaining_weekends|length * pointProvider.placePoint(1) %}
                                        <img src="{{ asset('build/images/checkered-flag.png') }}"
                                             height="18"
                                        >
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td>
                            {% for type, trophies in podiumTrophies %}
                                {% if trophies is not empty %}
                                    <span class="user-championship-trophy"
                                          title="{{ ('trophy_type_' ~ type)|trans }}">
                                        <img class="user-championship-trophy-image"
                                             src="{{ asset('build/images/trophy/trophy_' ~ type ~ '.svg') }}">
                                        <span class="small user-championship-trophy-number">{{ trophies|length }}</span>
                                      </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><strong class="color-one">{{ user.alternativePointSummary }}</strong></td>
                        <td>
                            <span class="small color-two">{{ user.alternativePointDifference() ? '+ ' ~ user.alternativePointDifference() : '' }}</span>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" style="padding: 10px;">
                        <span class="small color-two">Pontegyenlőség esetén a több arany kupát szerző játékos végez előrébb. Amennyiben az egyenlő, akkor az ezüst, majd a bronz kupák száma dönt.</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right" style="vertical-align: middle;">
                        <div class="online-dot-meaning"></div>
                    </td>
                    <td colspan="3">
                        <span class="small color-two">A felhasználó éppen online</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" style="vertical-align: middle;">
                        <img alt="" src="{{ asset('build/images/checkered-flag.png') }}" height="18">
                    </td>
                    <td colspan="4">
                        <span class="small color-two">Az adott felhasználónak sajnos már nincs matematikai esélye a győzelemre, de a többi helyezésért még természetesen versenyezhet</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div class="divider"></div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped border-primary">
                <tbody>
                <tr>
                    <td class="text-center" colspan="3"
                        style="border-top: 1px; border-top-color: white;">
                        <strong class="color-one">{{ (id ~ '_maths')|trans }}:</strong>
                    </td>
                </tr>
                <tr class="text-left">
                    <td><strong>{{ (id ~ '_remaining_races')|trans }}</strong></td>
                    <td class="text-center"><strong class="color-one">{{ maths.remaining_weekends|length }}</strong>
                    </td>
                </tr>
                <tr class="text-left">
                    <td><strong>
                            {{ (id ~ '_remaining_points')|trans }}
                            ({{ maths.remaining_weekends|length }}X{{ pointProvider.placePoint(1) }})</strong></td>
                    <td class="text-center">
                        <strong class="color-one">{{ maths.remaining_weekends|length * pointProvider.placePoint(1) }}</strong>
                    </td>
                </tr>
                {% for key, record in records %}
                    {% if record is not empty %}
                        <tr>
                            <td class="text-center" colspan="3"
                                style="border-top: 1px; border-top-color: white;">
                                <strong class="color-one">{{ (id ~ '_best_of_' ~ key)|trans }}</strong>
                            </td>
                        </tr>
                        {% for point, name in record %}
                            <tr class="text-center">
                                <td><strong>{{ name }}</strong></td>
                                <td><strong class="color-one">{{ point }}</strong></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
