{% extends 'controller/module/base_module.html.twig' %}
{% block body_content %}
    <div class="panel-body center-block">
        <div class="table-responsive center-block">
            <table class="table table-striped">
                <tbody>
                {% for user in users %}
                    {% set podiumTrophies = user.getPodiumTrophies() %}
                    <tr>
                        <td class="text-center">
                            {% if user.alternativePointDifference() > maths.remaining_weekends|length * pointProvider.placePoint(1) %}
                                <span title="{{ (id ~ '_checkered_flag')|trans }}">
                                        <img src="{{ asset('build/images/checkered-flag.png') }}" height="18">
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-center user-activity user-{{ user.getName() }}">
                            <span class="glyphicon glyphicon-flag"
                                  aria-hidden="true" title="Online"
                                  style="color: transparent; font-size: 1.1em;">
                            </span>
                        </td>
                        <td><strong>{{ user.getName() }}</strong></td>
                        <td>
                            {% for type, trophies in podiumTrophies %}
                                {% if trophies is not empty %}
                                    <span title="{{ ('trophy_type_' ~ type)|trans }}">
                                        <img src="{{ asset('build/images/trophy_' ~ type ~ '.png') }}" height="18">
                                      </span>
                                    {% if trophies|length > 1 %}
                                        <span class="small">x{{ trophies|length }}</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><strong class="color-one">{{ user.alternativePointSummary }}</strong></td>
                        <td>
                            <span class="small color-two">{{ user.alternativePointDifference() ? '+ ' ~ user.alternativePointDifference() : '' }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table table-striped border-primary">
                <tbody>
                <tr>
                    <td class="text-center" colspan="3"
                        style="border-top: 1px; border-top-color: white;">
                        <strong class="color-two">{{ (id ~ '_maths')|trans }}:</strong>
                    </td>
                </tr>
                <tr class="text-left">
                    <td><strong>{{ (id ~ '_remaining_races')|trans }}</strong></td>
                    <td><strong class="color-one">{{ maths.remaining_weekends|length }}</strong></td>
                </tr>
                <tr class="text-left">
                    <td><strong>
                            {{ (id ~ '_remaining_points')|trans }}
                            ({{ maths.remaining_weekends|length }}X{{ pointProvider.placePoint(1) }})</strong></td>
                    <td>
                        <strong class="color-one">{{ maths.remaining_weekends|length * pointProvider.placePoint(1) }}</strong>
                    </td>
                </tr>
                {% for key, record in records %}
                    {% if record is not empty %}
                        <tr>
                            <td class="text-center" colspan="3"
                                style="border-top: 1px; border-top-color: white;">
                                <strong class="color-two">{{ (id ~ '_best_of_' ~ key)|trans }}</strong>
                            </td>
                        </tr>
                        {% for bet in record %}
                            <tr class="text-center">
                                <td><strong>{{ bet.user.getName() }}</strong></td>
                                <td><strong class="color-one">{{ bet.getPointSummary() }}</strong></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
