{% extends 'controller/module/base_module.tpl' %}
{% block heading_title %}
    {% set title = event.getName|length > 20 ? event.getName|split(' - ').0 : event.getName %}
    <strong >{{ title }} - {{ language.get(id ~ '_title') }}</strong>
{% endblock %}
{% block body_content %}
    <div class="panel-body center-block">
        <div class="table-responsive table-striped center-block">
            <table class="table table-striped">
                <thead>
                <th>{{ language.get(id ~ '_driver') }}</th>
                <th>{{ language.get(id ~ '_point') }}</th>
                <th>{{ language.get(id ~ '_wins') }}</th>
                </thead>
                <tbody>
                {% for driver in driverStandings %}
                    <tr>
                        <td>{{ driver.Driver.givenName }} {{ driver.Driver.familyName }}</td>
                        <td>{{ driver.points }}</td>
                        <td>{{ driver.wins }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                <th>{{ language.get(id ~ '_construct') }}</th>
                <th>{{ language.get(id ~ '_point') }}</th>
                <th>{{ language.get(id ~ '_wins') }}</th>
                </thead>
                <tbody>
                {% for construct in constructStandings %}
                    <tr>
                        <td>{{ construct.Constructor.name }}</td>
                        <td>{{ construct.points }}</td>
                        <td>{{ construct.wins }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
