{% extends 'base.html.twig' %}
{% block body %}
    <div id="app">
    </div>
    {{ topFeedExtension() }}
    {{ messageWallExtension(app.user ? 1 : 0 ) }}
    {{ pointSummaryChartExtension() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('module_reload') }}
{% endblock %}