{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('build/select2-bootstrap-theme/select2-bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('build/select2/css/select2.min.css') }}" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        {% for event in events %}
            <div class="col-sm-6" style="margin-bottom: 10px">
                <div class="panel panel-default text-center">
                    <div class="panel-heading text-center">
                        <strong>{{ event.event.getName() }}
                            - {{ ('general_' ~ event.event.getType)|trans }}</strong>
                    </div>
                    {% for message in app.flashes(event.form.vars.id) %}
                        <div class="alert alert-success">
                            {{ message|trans }}
                        </div>
                    {% endfor %}
                    {% form_theme event.form 'bootstrap_3_layout.html.twig' %}
                    {{ form(event.form) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('betting') }}
    {{ encore_entry_script_tags('select2import') }}
    <script type="text/javascript">
        $(document).ready(function () {
            {% for event in events %}
            window.bundleObj.checkFakeBet('.event-{{ event.event.getId() }}', '.event-submit-{{ event.event.getId() }}');
            $('.event-submit-{{ event.event.getId() }}').click(function () {
                $(this).html('<img src="{{ asset('build/images/15.gif') }}">');
            });
            $('.event-{{ event.event.getId() }}').trigger('change');
            {% endfor %}
            $('.select2').select2({
                placeholder: "{{ 'betting_default_option'|trans }}",
                containerCssClass: "custom-select2",
                theme: "bootstrap"
            });
            /*
            Script for auto open next select dropdown
            $('.select2').on('select2:select', function (e) {
                $(this).closest('div').parent().parent().next('div').find('select').select2("open");
            });
             */
        });
    </script>
{% endblock %}