{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('build/select2-bootstrap-theme/select2-bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('build/select2/css/select2.min.css') }}" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}

{% macro getIcon(event) %}
    {% if event.event.getType == 'qualify' %}
        {% set icon = 'time' %}
    {% elseif event.event.getType == 'race' %}
        {% set icon = 'flag' %}
    {% elseif event.event.getType == 'sprint_qualify' %}
        {% set icon = 'flash' %}
    {% endif %}
    <span class="glyphicon glyphicon-{{ icon }}" aria-hidden="false"></span>
{% endmacro %}

{% block body %}
    <div style="text-align: center; margin: 15px;">
        {% for event in events %}
            <a class="btn btn-new"
               role="button"
               onclick="$('#collapse{{ event.event.getType }}').collapse('show');hideCollapsed();">
                {{ _self.getIcon(event) }}
                {{ event.event.getType|trans|upper }}
            </a>
        {% endfor %}
    </div>

    <div id="accordion" role="tablist" aria-multiselectable="false">
        {% set formSubmitted = 0 %}
        {% for key, event in events %}
            {% if type == event.event.getType() %}
                {% set formSubmitted = 1 %}
            {% endif %}
        {% endfor %}

        {% for key, event in events %}
            {% if loop.first and not formSubmitted %}
                {% set collapseType = 'in' %}
                {% set ariaExpanded = 'true' %}
            {% else %}
                {% set collapseType = '' %}
                {% set ariaExpanded = 'false' %}
            {% endif %}
            {% if type == event.event.getType() %} %}
                {% set collapseType = 'in' %}
                {% set ariaExpanded = 'true' %}
            {% endif %}

            {% dump(collapseType) %}
            <div id="{{ event.event.getType() }}" class="panel panel-default text-center bet-panel">
                <div role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapse{{ event.event.getType }}"
                     aria-expanded="{{ ariaExpanded }}" aria-controls="collapse{{ event.event.getType }}"
                     class="panel-heading text-center">
                    <strong>
                        {{ event.event.getName() }}
                        - {{ ('general_' ~ event.event.getType)|trans }}</strong>
                    <div class="pull-left">
                        {{ _self.getIcon(event) }}
                    </div>
                    <div class="pull-right">
                        {{ _self.getIcon(event) }}
                    </div>
                </div>
                <div id="collapse{{ event.event.getType }}" class="panel-collapse collapse {{ collapseType }}"
                     role="tabpanel" aria-labelledby="heading{{ event.event.getType }}">
                    <div class="panel-body center-block" style="width: 70%">
                        {% for message in app.flashes(event.form.vars.id) %}
                            <div class="alert alert-success">
                                {{ message|trans }}
                            </div>
                        {% endfor %}
                        {% form_theme event.form 'bootstrap_3_layout.html.twig' %}
                        {{ form(event.form) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('betting') }}
    {{ encore_entry_script_tags('select2import') }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.panel-heading[aria-expanded=false]').fadeOut('fast');
            {% for event in events %}
            window.bundleObj.checkFakeBet('.event-{{ event.event.getId() }}', '.event-submit-{{ event.event.getId() }}');
            $('.event-submit-{{ event.event.getId() }}').click(function () {
                $(this).html('<img src="{{ asset('build/images/15.gif') }}">');
            });
            $('.event-{{ event.event.getId() }}').trigger('change');
            {% endfor %}
            $('.select2').select2({
                placeholder: "{{ 'betting_default_option'|trans }}",
                containerCssClass: "custom-select2",
                theme: "bootstrap"
            });
            /*
            Script for auto open next select dropdown
            $('.select2').on('select2:select', function (e) {
                $(this).closest('div').parent().parent().next('div').find('select').select2("open");
            });
             */
        });

        function hideCollapsed() {
            $('.panel-heading[aria-expanded=true]').fadeIn('fast');
            $('.collapse').collapse('hide');
            $('.panel-heading[aria-expanded=false]').fadeOut('fast');
        }
    </script>
{% endblock %}
