{% extends 'base.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <strong>{{ 'nav_calendar'|trans }}</strong>
        </div>
        <div style="text-align: center; margin-top: 15px;">
            <a href="{{ path('calendar_qualify') }}" class="btn btn-new {{ type == 'Qualify' ? 'active' : '' }}"
               role="button">
                {{ 'general_qualifies'|trans }}
            </a>
            <a href="{{ path('calendar_sprint_qualify') }}" class="btn btn-new {{ type == 'SprintQualify' ? 'active' : '' }}"
               role="button">
                {{ 'general_sprint_qualifies'|trans }}
            </a>
            <a href="{{ path('calendar_race') }}" class="btn btn-new {{ type == 'Race' ? 'active' : '' }}"
               role="button">
                {{ 'general_races'|trans }}
            </a>
            <a href="{{ path('calendar') }}" class="btn btn-new {{ type == 'Event' ? 'active' : '' }}" role="button">
                {{ 'general_all'|trans }}
            </a>
        </div>
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th><strong class="color-two">{{ 'calendar_type'|trans }}</strong></th>
                <th><strong class="color-two">{{ 'calendar_event'|trans }}</strong></th>
                <th><strong class="color-two">{{ 'calendar_time'|trans }}</strong></th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>
                        <strong class="color-two">{{ event.getType()|trans|upper}}</strong>
                    </td>
                    <td><strong class="color-one">{{ event.getName() }}</strong></td>
                    <td><strong class="color-one">{{ event.getDateTime()|date("Y. M. d. - H:i") }}</strong></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
