{% set resultYears = [2014, 2015, 2016, 2017, 2018] %}
{% macro resultButton(year) %}
    <button id="result-button-{{ year }}"
            onclick="$(this).css({'background-image' : 'url(/src/view/image/ajax-loader.gif)', 'background-repeat': 'no-repeat', 'background-position' : 'center'});
                    $('#results').load('?page=information/index&information_title={{ year }}&ajax=true', function() {
                    $('#result-button-{{ year }}').css({'background-image' : 'url()'});
                    })"
            class="btn btn-new" role="button">
        {{ year }}
    </button>
{% endmacro %}

{% import _self as button %}

<div style="text-align: center; padding: 15px;">
    {% for year in resultYears %}
        {{ button.resultButton(year) }}
    {% endfor %}
    <a href="?page=results/index" class="btn btn-new" role="button" onclick="$(this).css({'background-image' : 'url(/src/view/image/ajax-loader.gif)', 'background-repeat': 'no-repeat', 'background-position' : 'center'});">
        2019
    </a>
</div>
<div id="results">
    {% for table in tables %}
        {{ table|raw }}
    {% endfor %}
</div>