{% extends 'base.html.twig' %}
{# TODO: Fix this manual years result #}
{% set resultYears = [2014, 2015, 2016, 2017, 2018, 2019, 2020] %}
{% macro resultButton(year) %}
    <button id="result-button-{{ year }}"
            onclick="$(this).css({'background-image' : 'url({{ asset('build/images/15.gif') }})', 'background-repeat': 'no-repeat', 'background-position' : 'center'});
                    $('#results').load('/information_content/{{ year }}', function() {
                    $('#result-button-{{ year }}').css({'background-image' : 'url()'});
                    })"
            class="btn btn-new" role="button">
        {{ year }}
    </button>
{% endmacro %}

{% import _self as button %}

{% block body %}
    <div style="text-align: center; padding: 15px;">
        {% for year in resultYears %}
            {{ button.resultButton(year) }}
        {% endfor %}
        <a href="{{ path('results') }}" class="btn btn-new" role="button"
           onclick="$(this).css({'background-image' : 'url({{ asset('build/images/15.gif') }})', 'background-repeat': 'no-repeat', 'background-position' : 'center'});">
            2021
        </a>
    </div>
    <div id="results">
        {% if weekends %}
            {% for key, weekend in weekends %}
                <div class="panel panel-group panel-collapse">
                    <div class="panel-heading text-center">
                        <strong class="color-one">{{ weekendNames[key] }} - {{ 'general_weekend'|trans }}</strong>
                    </div>
                    <div class="panel panel-default">
                        {% for key, table in weekend %}
                            {{ table|raw }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% include('controller/module/no_results.html.twig') %}
        {% endif %}
    </div>
{% endblock %}
