{% extends ('base.html.twig') %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <strong>{{ 'trophy_trophies'|trans }}</strong>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th><strong class="color-two">{{ (id ~ '_name')|trans }}</strong></th>
            <th><strong class="color-two">{{ (id ~ '_trophies')|trans }}</strong></th>
            <th><strong class="color-two">{{ (id ~ '_virtual_point')|trans }}</strong></th>
        </tr>
        </thead>
        <tbody>
        {% for userName, userTrophy in user_trophies %}
            <tr>
                <td>
                    <strong class="color-one">{{ userName }}</strong>
                </td>
                <td>
                    {% for trophyKey, trophy in userTrophy %}
                        {% for trophyy in trophy %}
                            <span title="{{ ('trophy_type_' ~ trophyKey)|trans }}">
                                    <img src="{{ asset('build/images/trophy_' ~  trophyKey ~ '.png') }}"
                                         height="18">
                                </span>
                        {% endfor %}

                    {% endfor %}
                </td>
                <td>
                    <strong class="color-one">{{ userTrophy.point }}</strong>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="text-center" style="padding: 15px;">
                <strong class="color-two">{{ (id ~ '_description')|trans }}</strong>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center" style="padding: 15px;">
                {% for trophyType, trophyPoint in trophy_attributes %}
                    <span style="padding-left: 15px;padding-right: 15px">
                        <span title="{{ ('trophy_type_' ~ trophyType)|trans }}">
                                    <img src="{{ asset('build/images/trophy_' ~  trophyType ~ '.png') }}"
                                         height="18">
                        </span><strong> = {{ trophyPoint }}</strong>
                            </span>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
