<form id="message-send" class="form-inline">
    <input id="message-input" type="text" class="form-group smile-replaceable form-input" name="message"
           style="width: 65%">
    <button id="message-submit" type="submit"
            class="btn btn-new form-group">{{ (id ~ '_submit')|trans }}
    </button>
</form>
{% block javascripts %}
    {{ encore_entry_script_tags('messages') }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#message-send').submit(function (e) {

                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: '{{ path('message_save') }}',
                    dataType: "json",
                    data: $(this).serialize(),
                    beforeSend: function () {
                        $("#message-submit").html('<img src="{{ asset('build/images/15.gif') }}" height="20" width="60">');
                    },
                    complete: function () {
                        $('#messages-list').load('/module/messages/list');
                        $("#message-input").val('');
                        $("#message-submit").html('{{ (id ~ '_submit')|trans }}');
                    }
                })
            });
        });
    </script>
{% endblock %}