<div class="panel panel-default">
    <div class="panel-heading text-center visible-lg visible-md visible-sm">
        <div class="pull-left">
            {% block sourceLink %}
                <a class="feed_source small" href="https://hu.motorsport.com/f1/"
                   target="_blank">{{ 'feed_source'|trans }}</a>
            {% endblock %}
        </div>
        <strong>{{ (id ~ '_title')|trans }}</strong>
    </div>
    <div class="panel-heading text-center visible-xs">
        {{ block('sourceLink') }}
    </div>
    {% block body_content %}
        <table class="table table-striped">
            {% for feed in feeds %}
                <tr>
                    <td class="visible-lg visible-md visible-sm"
                        style="vertical-align: middle;width: 20%;text-align: center">
                        <img height="130" src="{{ feed.image|raw }}" style="padding: 5px">
                        <div>
                            <span class="color-two small">{{ feed.publishDate|date }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-center"><strong class="color-one">{{ feed.title }}</strong></div>
                        <div class="visible-xs text-center"><img class="img-responsive" src="{{ feed.image|raw }}"
                                                                 style="padding: 5px">
                            <span class="color-two small">{{ feed.publishDate|date }}</span>
                        </div>
                        <div class="text-justify" style="padding: 5px">
                            <strong>{{ feed.description|raw }}</strong>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
</div>
