{% set no_betting_users = (usersCount/2 < countableBets|length) and not (usersCount == countableBets|length) %}
{% set bet_counter %}
    {% if (usersCount/2 < countableBets|length) %}
        <div class="pull-right" style="margin-right: 10px">
            {{ ('result_bets')|trans ~ countableBets|length ~ '/' ~ usersCount }}
        </div>
    {% endif %}
{% endset %}

{% import 'macro/icon.html.twig' as iconProvider %}

<div class="panel panel-weekend">
    <div class="panel-heading text-center">
        <div class="row">
            {% block heading_title %}
                <div class="pull-right panel-heading-icon"
                     style="padding-right: 10px;">{{ iconProvider.getIcon(result.getEvent().getType()) }}</div>
                <div class="pull-left panel-heading-icon"
                     style="padding-left: 10px;">{{ iconProvider.getIcon(result.getEvent().getType()) }}</div>
                {% set titletext = ('general_' ~ result.getEvent().getType)|trans %}
                <strong class="color-one">{{ result.getEvent().getName() ~ ' - ' ~ titletext }} - {{ result.getEvent().getDateTime()|date("M. d. H:i") }}</strong>
            {% endblock %}
            {% if not no_betting_users %}
                {{ bet_counter }}
            {% endif %}
        </div>
        {% if no_betting_users %}
            <div class="row">
                <div class="pull-left" style="margin-left: 10px">
                    {{ ('result_no_betting_users')|trans ~ noBettingUsers|join(', ') }}
                </div>
                {{ bet_counter }}
            </div>
        {% endif %}
    </div>
    {% block body_content %}
        <div class="table-responsive">
            <table class="table result-striped">
                <thead>
                <tr>
                    <th><strong class="color-two">{{ 'result_name'|trans }}</strong></th>
                    <th class="text-center"><strong class="color-two">{{ 'result_point'|trans }}</strong></th>
                    {% for resultAttribute in result.getAttributes() %}
                        <th class="text-center"><strong
                                    class="color-two">{{ ('result_' ~ resultAttribute.getKey())|trans }}</strong></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for bet in bets %}
                    <tr>
                        <td class="text-left"><strong class="color-one">{{ bet.getUser().getName() }}</strong></td>
                        <td class="text-center"><strong class="color-one">{{ bet.getPointSummary() }}</strong></td>
                        {% for betAttribute in bet.getAttributes() %}
                            <td class="text-center {{ betAttribute.getClass() ? betAttribute.getClass() : 'bet-empty' }}">
                                <span class="{{ betAttribute.getClass() ? betAttribute.getClass() ~ '-font' : 'bet-empty-font' }}">{{ betAttribute.getValue() }}</span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr class="result-table-result-row">
                    <td><strong class="color-two">{{ 'general_result'|trans }}</strong></td>
                    <td></td>
                    {% for resultAttribute in result.getAttributes() %}
                        <td class="text-center"><strong class="color-two">{{ resultAttribute.getValue() }}</strong></td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    {% endblock %}
</div>
