{% extends 'extension/result_table/type/full.html.twig' %}
{% import 'macro/icon.html.twig' as iconProvider %}
{% block heading_title %}
    <div class="pull-right" style="padding: 10px;">{{ iconProvider.getIcon(event.getType) }}</div>
    <div class="pull-left" style="padding: 10px;">{{ iconProvider.getIcon(event.getType) }}</div>
    <strong class="color-one">{{ event.getName() }} - {{ ('general_' ~ event.getType)|trans }} - {{ event.getDateTime()|date("M. d. H:i") }}</strong>
{% endblock %}
{% block body_content %}
    <div class="table-responsive">
        <table class="table table-striped" style="padding: 15px">
            <tr style="margin: 15px">
                <strong class="color-two">
                    {{ bets|length ? 'result_betting_user'|trans : 'result_betting_nobody'|trans }}
                </strong>
                {% if bets|length %}
                    {% for bet in bets %}
                        {{ bet.getUser().getName() }}{{ loop.last ? '' : ', ' }}
                    {% endfor %}
                {% endif %}
            </tr>
        </table>
    </div>
    <input type="hidden" id="event-table-bet-numbers" value="{{ bets|length }}">
    <input type="hidden" id="event-table-event-id" value="{{ event.getId() }}">
{% endblock %}
