<div class="panel panel-default">
    <div class="panel-heading text-center">
        <strong>{{ language.get('trophy_trophies') }}</strong>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th><strong class="color-two">{{ language.get(id ~ '_name') }}</strong></th>
            <th><strong class="color-two">{{ language.get(id ~ '_trophies') }}</strong></th>
            <th><strong class="color-two">{{ language.get(id ~ '_virtual_point') }}</strong></th>
        </tr>
        </thead>
        <tbody>
        {% for userName, userTrophy in userTrophies %}
            <tr>
                <td>
                    <strong class="color-one">{{ userName }}</strong>
                </td>
                <td>
                    {% for trophyKey, trophy in userTrophy %}
                        {% for trophyy in trophy %}
                            <span title="{{ language.get('trophy_type_' ~ trophyKey) }}">
                                    <img src="{{ domain }}/src/view/image/trophy_{{ trophyKey }}.png?v=1502019288"
                                         height="18">
                                </span>
                        {% endfor %}

                    {% endfor %}
                </td>
                <td>
                    <strong class="color-one">{{ userTrophy.point }}</strong>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="text-center" style="padding: 15px;">
                <strong class="color-two">{{ language.get(id ~ '_description') }}</strong>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center" style="padding: 15px;">
                {% for trophyType, trophyPoint in trophyAttributes %}
                    <span style="padding-left: 15px;padding-right: 15px">
                        <span title="{{ language.get('trophy_type_' ~ trophyType) }}">
                                    <img src="{{ domain }}/src/view/image/trophy_{{ trophyType }}.png?v=1502019288"
                                         height="18">
                        </span><strong> = {{ trophyPoint }}</strong>
                            </span>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
