<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{language.get('app_title')}}</title>

    <link rel="shortcut icon" type="image/png" href="/src/view/image/favicon.ico"/>

    <!-- Bootstrap Core CSS -->
    <link href="{{domain}}/src/view/vendor/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS-->
    <link href="{{domain}}/src/view/custom-bootstrap/custom-bootstrap.css?v=1514730012" rel="stylesheet">

    <!-- jQuery -->
    <script language="JavaScript" type="text/javascript" src="{{domain}}/src/view/vendor/jquery/jquery-3.1.1.min.js"></script>

    <!-- jQuery Form-->
    <script language="JavaScript" type="text/javascript" src="{{domain}}/src/view/vendor/jquery/jquery.form.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script language="JavaScript" type="text/javascript" src="{{domain}}/src/view/vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script language="JavaScript" type="text/javascript" src="{{domain}}/src/view/custom-js/custom.js?v=1502018512"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>