{% autoescape false %}
    <!DOCTYPE html>
    <html lang="hu">

    {% include('application/head.tpl') %}

    <body>

    {% include('application/navigation.tpl') %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Content Column -->
            <div class="col-md-8">
                {{ page.content }}
                <div class="visible-lg visible-md visible-sm">
                    {{ modules.feed }}
                </div>
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                {{ modules.countDown }}
                <div id="trophies-result-table">
                    {{ modules.trophies }}
                </div>
                <div id="user-championship-result-table">
                    {{ modules.userChampionship }}
                </div>
                {{ modules.alternativeChampionship }}
                <div class="visible-xs">
                    {{ modules.feed }}
                </div>
                {% if page.id != 'actual' %}
                    {{ modules.messageWall }}
                {% endif %}
                {{ modules.resultsOfChampionship }}
                {{ modules.userActivity }}
                {{ modules.tableRefresh }}
            </div>
        </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="color-two">{{ language.get('app_creator') }}</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    </body>

    </html>
{% endautoescape %}