{% extends '@EasyAdmin/default/list.html.twig' %}
{% block new_action %}
    {{ parent() }}
    <div class="button-action">
        <a class="{{ _action.css_class|default('') }}"
           href="{{ path('driver_point_sync', _request_parameters) }}"
           target="{{ _action.target }}">
            <i class="fa fa-fw fa-sync"></i>
            {{ 'admin_driver_editor_sync'|trans }}
        </a>
    </div>
{% endblock new_action %}