{% extends 'system/resulttable/type/full.tpl' %}
{% block heading_title %}
    <strong>{{ event.getName() }} - {{ language.get('general_' ~ event.getType) }}</strong>
{% endblock %}
{% block body_content %}
    <div class="table-responsive">
        <table class="table table-striped" style="padding: 15px">
            <tr style="margin: 15px">
                <strong class="color-two">
                    {{ bets|length ? language.get('result_betting_user') : language.get('result_betting_nobody') }}
                </strong>
                {% if bets|length %}
                    {% for bet in bets %}
                        {{ bet.getUser().getName() }}{{ loop.last ? '' : ', ' }}
                    {% endfor %}
                {% endif %}
            </tr>
        </table>
    </div>
    <input type="hidden" id="event-table-bet-numbers" value="{{ bets|length }}">
    <input type="hidden" id="event-table-event-id" value="{{ event.getId() }}">
{% endblock %}
