{% set visibilityIcon = visibility == 'none' ? 'glyphicon-plus-sign' : 'glyphicon-minus-sign' %}
<div class="panel panel-default remove-able-{{ id }}">
    <div class="panel-heading text-center">
        {% block heading_title %}
            <strong>{{ language.get(id ~ '_title') }}</strong>
        {% endblock %}
        {% block button_group %}
            <div class="btn-group pull-right" style="margin-top: -2px">
                <a id="{{ id }}" class="text-right glyphicon {{ visibilityIcon }} toggle" aria-hidden=true></a>
                <span style="margin-left: .5em"></span>
                <a id="{{ id }}" class="text-right glyphicon glyphicon-remove-sign remove" aria-hidden=true></a>
            </div>
        {% endblock %}
        {% block button_details %}
            {% if detailsLink %}
            <div class="btn-group pull-left" style="margin-top: -2px">
                <a id="{{ id }}"
                   href="{{ detailsLink }}"
                   title="{{ language.get('module_details') }}"
                   class="text-right glyphicon glyphicon-info-sign"
                   aria-hidden=true>
                </a>
            </div>
            {% endif %}
        {% endblock %}
    </div>
    <div class="toggle-able-{{ id }}" style="display: {{ visibility ? visibility : 'block' }};">
        {% block body_content %}{% endblock %}
    </div>
</div>