<div class="nav navbar-nav navbar-right">
    <form id="signin" class="navbar-form navbar-right" role="form" method="post"
          action="{{ path('app_login') }}">
        {% if error %}
        <div class="input-group">
            <div class="alert-danger" style="padding: 5px">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
        {% endif %}
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="text" type="text" class="form-control" name="username" value="{{ last_username }}">
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" value="">
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <input type="hidden" name="_remember_me" value="1">

        <button id="login-submit" type="submit" class="btn btn-new"><strong>{{ 'user_login'|trans }}</strong></button>
    </form>
</div>

