{% extends 'controller/module/base_module.html.twig' %}
{% block heading_title %}
    {% if event %}
        {% set event_title = event.name|length > 20 ? event.name|split(' - ').0 : event.name %}
        <strong>{{ event_title }} - {{ 'trophy_trophies'|trans }}</strong>
    {% else %}
        <strong>{{ 'trophy_trophies'|trans }}</strong>
    {% endif %}
{% endblock %}
{% block body_content %}
    <div class="panel-body center-block">
        <div class="table-responsive table-striped center-block">
            {% if event %}
                <table class="table table-striped">
                    {% for type, trophies in podium_trophies %}
                        <tr>
                            <td class="text-center">
                        <span title="{{ ('trophy_type_' ~ type)|trans }}">
                            <img src="{{ asset('build/images/trophy_' ~ type ~ '.png') }}" height="18">
                        </span>
                            </td>
                            <td>
                                {% for trophy in trophies %}
                                    {% set user = trophy.getUser() %}
                                    {% set point = trophy.getPoint() %}
                                    <strong>{{ user.getName() }}{{ loop.last ? '' : ', ' }}</strong>
                                {% endfor %}
                            </td>
                            <td><strong>{{ trophies|first.getPoint() }}</strong></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% include ('controller/module/no_results.html.twig') %}
            {% endif %}
        </div>
    </div>
{% endblock %}
