{% extends 'controller/module/base_module.html.twig' %}
{% block body_content %}
    <div class="panel-body center-block">
        <div class="table-responsive center-block">
            <table class="table table-striped">
                <tbody>
                {% for user in users %}
                    {% set podiumTrophies = user.getPodiumTrophies() %}
                    <tr>
                        <td class="text-center user-activity user-{{ user.getName() }}">
                            <span class="glyphicon glyphicon-eye-open"
                                  aria-hidden="true" title="Online"
                                  style="color: transparent; font-size: 1.1em;">
                            </span>
                        </td>
                        <td><strong>{{ user.getName() }}</strong></td>
                        <td>
                            {% for type, trophies in podiumTrophies %}
                                {% if trophies is not empty %}
                                    <span title="{{ ('trophy_type_' ~ type)|trans }}">
                                        <img src="{{ asset('build/images/trophy_' ~ type ~ '.png') }}" height="18">
                                      </span>
                                    {% if trophies|length > 1 %}
                                        <span class="small">x{{ trophies|length }}</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><strong class="color-one">{{ user.alternativePointSummary }}</strong></td>
                        <td>
                            <span class="small color-two">{{ user.alternativePointDifference() ? '+ ' ~ user.alternativePointDifference() : '' }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table table-striped border-primary">
                <tbody>
                {% for key, record in records %}
                    {% if record is not empty %}
                        <tr>
                            <td class="text-center" colspan="3"
                                style="border-top: 1px; border-top-color: white;">
                                <strong class="color-two">{{ (id ~ '_best_of_' ~ key)|trans }}</strong>
                            </td>
                        </tr>
                        {% for bet in record %}
                            <tr class="text-center">
                                <td><strong>{{ bet.user.getName() }}</strong></td>
                                <td><strong class="color-one">{{ bet.getPointSummary() }}</strong></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if userLogged %}
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <strong>{{ (id ~ '_point_calculating')|trans }}</strong>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><strong class="color-two">{{ (id ~ '_place')|trans }}</strong></th>
                        {% for place, point in pointProvider.getPlacePoints %}
                            <th class="text-center"><strong class="color-two">{{ place }}.</strong></th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <strong class="color-one">{{ (id ~ '_converted_points')|trans }}</strong>
                        </td>
                        {% for place, point in pointProvider.getPlacePoints %}
                            <td class="text-center"><strong class="color-one">{{ point }}</strong></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="text-center" colspan="11">
                            <strong class="color-one">Összpont = 14 résztvevő X 5 = 70 pont</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="11">
                            <strong class="color-two center">Pont Eloszlás = Arányaiban megfelel annak, ahogyan az F1ben
                                eloszlanak a
                                pontok.</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <strong>NYEREMÉNY</strong>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><strong class="color-two">Összesített helyezés</strong></th>
                        <th><strong class="color-two">Összeg</strong></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">
                            <strong class="color-one">1.</strong>
                        </td>
                        <td>
                            <strong class="color-one">28,000</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <strong class="color-one">2.</strong>
                        </td>
                        <td>
                            <strong class="color-one">17,000</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <strong class="color-one">3.</strong>
                        </td>
                        <td>
                            <strong class="color-one">11,000</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="11">
                            <strong class="color-one">13 résztvevő X 4000 = 52000</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
