<div class="panel panel-default">
    <div class="panel-heading text-center">
        <strong>{{ language.get('nav_calendar') }}</strong>
    </div>
    <div style="text-align: center; margin-top: 15px;">
        <a href="?page=calendar/qualify" class="btn btn-new {{ type == 'Qualify' ? 'active' : '' }}" role="button">
            {{ language.get('general_qualifies') }}
        </a>
        <a href="?page=calendar/race" class="btn btn-new {{ type == 'Race' ? 'active' : '' }}" role="button">
            {{ language.get('general_races') }}
        </a>
        <a href="?page=calendar/index" class="btn btn-new {{ type == 'Event' ? 'active' : '' }}" role="button">
            {{ language.get('general_all') }}
        </a>
    </div>
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th><strong class="color-two">{{ language.get('calendar_type') }}</strong></th>
            <th><strong class="color-two">{{ language.get('calendar_event') }}</strong></th>
            <th><strong class="color-two">{{ language.get('calendar_time') }}</strong></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><strong class="color-two">{{ event.getType() == 'race' ? language.get('general_race') : language.get('general_qualify') }}</strong></td>
                <td><strong class="color-one">{{ event.getName() }}</strong></td>
                <td><strong class="color-one">{{ event.getDateTime()|date("Y. M. d. - H:i") }}</strong></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>