{% set current_path = app.request.get('_route') %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#f1tipp-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{ asset('build/images/logo.png') }}" height="51" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="f1tipp-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {{ render(controller('App\\Controller\\Module\\LoginController::indexAction')) }}
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li {{ current_path == 'betting' ? 'class="active"' : '' }}>
                    <a href="{{ path('betting') }}">{{ 'nav_bet'|trans }}</a>
                </li>
                <li {{ current_path == 'home' ? 'class="active"' : '' }}>
                    <a href="{{ path('home') }}">{{ 'nav_actual'|trans }}</a>
                </li>
                <li class="dropdown {{ current_path == 'results' or current_path == 'trophies' ? 'active ' : '' }}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">{{ 'nav_results'|trans }}<span
                                class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('results') }}">{{ 'nav_results_points'|trans }}</a></li>
                        <li><a href="{{ path('trophies') }}">{{ 'nav_results_trophies'|trans }}</a></li>
                        </li>
                    </ul>
                </li>
                <li {{ 'calendar'  in current_path  ? 'class="active"' : '' }}>
                    <a href="{{ path('calendar') }}">{{ 'nav_calendar'|trans }}</a>
                </li>
                <li {{ 'information_show'  in current_path  ? 'class="active"' : '' }}>
                    <a href="{{ path('information_show', {'slug':'szabalyzat_2022'}) }}">{{ 'nav_rules'|trans }}</a>
                </li>
                <li {{ current_path == 'statistics' ? 'class="active"' : '' }}>
                    <a href="{{ path('statistics') }}">{{ 'nav_statistics'|trans }}</a>
                </li>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('easyadmin') }}">{{ 'nav_admin'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
