{% extends 'controller/module/feed/feed.tpl' %}
{% block body_content %}
    <table class="table table-striped">
        <tr>
            <td class="visible-lg visible-md visible-sm"
                style="vertical-align: middle;width: 30%;text-align: center">
                <img class="img-responsive" src="{{ feed.image|raw }}" style="padding: 5px">
                <span class="color-two small">{{ feed.publishDate|date }}</span>
            </td>
            <td>
                <div class="text-center"><strong class="color-one">{{ feed.title }}</strong></div>
                <div class="visible-xs text-center"><img class="img-responsive" src="{{ feed.image|raw }}"
                                                         style="padding: 5px">
                    <span class="color-two small">{{ feed.publishDate|date }}</span>
                </div>
                <div class="text-justify" style="padding: 5px">
                    <strong>{{ feed.description|raw }}</strong>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}